%arrow_right {
  position: absolute;
  top: 50%;
  right: 10px;
  content: "";
  transform: translateY(-50%);
  border-style: solid;
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #565656;
}

.ui-breadcrumbs {
  margin-left: $canvas_padding;

  a {
    position: relative;
    display: block;
    color: rgba(255,255,255,.85);
    font-size: .81em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    @extend %clean_list;
  }

  li {
    display: inline-block;

    &:first-child {
      a {
        padding-left: 0;
      }
    }

    &:last-child {
      a:after {
        display: none;
      }
    }

    &.current {
      a {
        color: #fff;
        font-weight: bold;

        &:after {
          border-left-color: #fff;
        }
      }
    }

    &.mobile {
      @include media-above($break-large) {
        display: none;
      }
    }
  }
}

.ui-breadcrumbs--primary {
  a {
    height: 64px;
    padding: 0 40px 0 14px;
    line-height: 64px;

    &:after {
      @extend %arrow_right;
    }
  }

  li {
    &.active {
      a {
        padding-right: 14px;
        background-color: #000;
        border-bottom: 1px solid #000;
        color: #fff;
        font-weight: bold;
      }
    }
  }

  @include media-below($break-large) {
    li {
      display: none;

      &:first-child, &:last-child, &.mobile {
        display: inline-block;
      }
    }
  }
}

.ui-breadcrumbs--secondary {
  padding: 13px 0;

  li {
    padding: 0 16px;
    border-left: 1px solid #464646;

    &:first-child {
      border: none;
      padding-left: 0;
    }
  }

  a {
    padding: 7px 0;
    color: #fff;
  }
}

.mobile-breadcrumbs {
  position: relative;
  display: block;
  padding-right: 40px;

  &:after {
    @extend %arrow_right;
  }

  select {
    position: relative;
    width: 20px;
    appearance: none;
    background-color: transparent;
    border: none;
    color: #fff;
    text-align: center;
    text-align-last: center;

    option {
      text-align: left;
    }
  }
}
