.section--header {
  border-bottom: 7px solid $color-primary;
  box-shadow: 4px 0 10px rgba(0,0,0,.6);
}

.header--primary, .header--secondary, .header--tertiary {
  text-transform: uppercase;
  @extend %clearfix;
}

.header--primary {
  height: 28px;
  padding: 7px 0;
  box-sizing: border-box;
  background-color: $color-primary;
  color: #fff;
  font-size: 0.75em;
  @extend %clearfix;


  .ui-btn {
    display: inline-block;
    padding: 4px 10px;
    margin: -7px 5px 0 0;
    border-radius: 8px;
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.45), inset 0 0 1px rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.3);
    color: #fff;
    font-size: .56em;
    font-weight: bold;

    @include media-below($break-medium) {
      display: none;
    }
  }

  .ui-switcher {
    display: inline-block;
    position: relative;
    margin: -7px 0;
    padding: 7px 22px 7px 7px;
    background-color: $color-primary-darken;
    box-shadow: inset 1px 0 1px -1px rgba(0,0,0,.2), inset -1px 0 1px -1px rgba(255,255,255,.8);
    cursor: pointer;

    &:after {
      position: absolute;
      top: 50%;
      right: 8px;
      content: "";
      transform: translateY(-50%);
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: #fff transparent transparent transparent;
    }
  }

  .ui-switcher--counter {
    display: inline-block;
    margin-left: 5px;
    padding: 2px 6px;
    border-radius: 8px;
    background-color: #fff;
    color: $color-primary-darken;
    font-size: .62em;
    font-weight: bold;
    vertical-align: top;
  }
}

.header--branding {
  float: left;

  label {
    margin-right: 14px;
    margin-left: $canvas_padding;
  }
}

.header--links {
  float: right;
  @include media-below($break-large) {
    display: none;
  }
}

.mobile--links {
  float: right;

  @include media-above($break-large) {
    display: none;
  }

  img {
    width: 18px;
    margin: -7px 0;
    padding: 7px;
    background-color: $color-primary-darken;
    box-shadow: inset 1px 0 1px -1px rgba(0,0,0,.2), inset -1px 0 1px -1px rgba(255,255,255,.8);
    cursor: pointer;
  }

  select {
    display: none;
  }
}


.header--secondary {
  border-bottom: 1px solid #545454;
  background-color: $color-gray;

  @include media-below($break-large) {
    font-size: 80%;
  }

  .inner {
    @extend %clearfix;
  }

  .ui-breadcrumbs {
    height: 64px;
    float: left;

    @include media-below($break-medium) {
      height: 48px;
    }
  }
}

.header--profile {
  height: 64px;
  float: right;

  @include media-below($break-medium) {
    height: 48px;
  }

  ul {
    @extend %clean_list;
  }

  li {
    display: inline-block;
    height: 64px;

    @include media-below($break-medium) {
      height: 48px;
    }
  }

  a {
    height: 100%;
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 64px;

    @include media-below($break-medium) {
      line-height: 48px;
    }
  }

  .user-profile {
    text-transform: none;
    padding: 0 12px;

    img {
      width: 40px;
      height: auto !important;
      display: inline-block;
      margin-right: 10px;
      border-radius: 20px;
      box-shadow: 3px 3px 6px rgba(0,0,0,.9);

      @include media-below($break-large) {
        width: 32px;
      }

      @include media-below($break-medium) {
        width: 24px;
      }
    }

    img, span {
      vertical-align: middle;
    }
  }

  .icon {
    width: 24px;
    vertical-align: middle;

    @include media-below($break-large) {
      width: 18px;
    }
  }

  .user-settings {
    width: 64px;
    border-left: 1px solid #545454;
    background-color: #292929;
    text-align: center;

    @include media-below($break-medium) {
      width: 48px;
    }
  }
}

.header--tertiary {
  background-color: $color-black;

  @include media-below($break-large) {
    font-size: 80%;
  }
}
