%clean_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

%naked_select {
  appearance: none;
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: center;
  text-align-last: center;

  option {
    text-align: left;
  }
}

.hidden {
  display: none;
}
